.checkmark-circle{
    width:110px;
    height:110px;
    margin:auto;
    border-radius:50%;
    background:#198754;
    display:flex;
    justify-content:center;
    align-items:center;
    animation:zoom .5s ease;
}

.checkmark{
    color:white;
    font-size:60px;
    font-weight:bold;
}

@keyframes zoom{

0%{
transform:scale(0);
}

70%{
transform:scale(1.2);
}

100%{
transform:scale(1);
}

}